
<div class="modal-container">

  <div class="left-section">
    <img src="https://via.placeholder.com/500x800" alt="Left Section Image" />
  </div>


  <div class="right-section">

    <div class="tabs">
      <button class="tab-button" [class.active]="activeTab === 'register'" (click)="setActiveTab('register')">
        Register
      </button>
      <button class="tab-button" [class.active]="activeTab === 'login'" (click)="setActiveTab('login')">
        Login
      </button>
    </div>
   

    <form [formGroup]="registerForm" *ngIf="activeTab === 'register'" class="form-container">
      <div class="input-container">
        <input type="text" id="name" formControlName="name" class="floating-input" placeholder=" " />
        <label for="name" class="floating-label">Your Name</label>
      </div>
      <div class="input-container">
        <input type="emailId" id="emailId" formControlName="emailId" class="floating-input" placeholder=" " />
        <label for="emailId" class="floating-label">Your Email</label>
      </div>
      <div class="input-group">
        <select class="country-code">
          <option>+91</option>
          
        </select>
        <div class="input-container">
          <input type="text" id="phoneNumber" formControlName="phoneNumber" class="floating-input" placeholder=" " />
          <label for="phoneNumber" class="floating-label">Phone Number</label>
        </div>
      </div>
      <div class="input-container">
        <input type="text" id="companyName" formControlName="companyName" class="floating-input" placeholder=" " />
        <label for="companyName" class="floating-label">Company Name</label>
      </div>
      <button (click)="Register()" type="submit">Create an Account</button>
    </form> 
    
    <form [formGroup]="loginForm"*ngIf="activeTab === 'login'" class="form-container">
      <div class="input-container">
        <input type="text" id="phoneNumber"  formControlName="phoneNumber" class="floating-input" placeholder=" " />
        <label for="phoneNumber" class="floating-label">Phone Number</label>
      </div>
      <div class="input-container">
        <input type="text" id="otp"  formControlName="otp" class="floating-input" placeholder=" " />
        <label for="otp" class="floating-label">OTP</label>
        
      </div>
      <span class="link" (click)="getOtp()" style="margin-left: 30px;text-align: right; cursor: pointer;">Get OTP</span>
      <button (click)="Login()" type="submit">Login</button>
    </form>
    
  </div>
</div>