
<div class="modal-content">
<div class="modal-header">
  <div class="col">
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="col-sm-4">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="container">
  <div class="modal-body">
    <form [formGroup]="loginForm">

      <div class="row justify-content-center align-items-center" style="padding-top: 30px;">
        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset>
              <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Enter Your Phone Number" />
            </fieldset>
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center parah" style="padding-top: 20px;padding-left: 35px;">
        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset class="otp-fieldset">
              <div class="d-flex align-items-center otp-inputs">
                <input type="text" class="form-control" id="otp" formControlName="otp" placeholder="OTP" style="flex: 1; margin-left: 50px;" />
                <span class="link" (click)="getOtp()" style="margin-left: 30px; cursor: pointer;">Get OTP</span>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </form>


    <div class="text-center " style="padding-top: 70px;">
      <button type="button" class="btn btn-primary" (click)="onSubmit();activeModal.dismiss()">
        Login
      </button>

    </div>
    <div class="text-center "style="padding-top: 10px;">
      <p>Don’t have an account? <span class="login-link" (click)="openRegisterModal()">Register Now</span></p>
    </div>
  </div>
</div>
</div>
