<!-- <div class="services-container">
  <h1>
    Where Vision Meets Execution: Our Success Stories
  </h1>
  <p>
    Explore the diverse projects that highlight our commitment to delivering exceptional results for every brand.
  </p>
</div>

<div class="services-grid">
  <div class="card" *ngFor="let item of items">
    <div class="card-header">
      
    </div>
    <img [routerLink]="['projectdetails']" [queryParams]="{ id: item.projectId, name: item.projectName }" [src]="item.images[0]" alt="Project image">
    <h1 >{{ item.projectName }}</h1>
  </div>
</div> -->


<div class="details">
  <h1> Where Vision Meets Execution: Our Success Stories</h1>
  <p>
    Explore the diverse projects that highlight our commitment to delivering exceptional results for every brand.
  </p>
</div>

<div class="grid" >
 
  <div  class="card" *ngFor="let item of pagedItems">
    <img [src]="item.images[0]" alt="Project image">
    <div class="card-body" style="padding-left: 8px; background-color: rgb(240, 240, 240); display: flex; flex-direction: column; height: 100%;">
      <h3 style=" color: #302f2f;">{{ item.projectName }}</h3>  
    </div>
  </div>
  
</div>






