<div class="header">
    <h1>
      WE TAKE PRIDE IN EVERY <span class="highlight">DETAIL</span>, 
      EVERY <span class="highlight">PROJECT</span>, AND EVERY <span class="highlight">SUCCESS</span>
    </h1>
    <p>
      Our commitment to excellence drives us through every project we undertake. From the initial brainstorming 
      sessions to the final deliverables, we meticulously craft each detail to ensure it meets the highest standards.
    </p>
  </div>
  
  <div class="grid">
    <div class="card" *ngFor="let item of items">
      <img [src]="item.image" alt="Project image">
      <h3>{{ item.title }}</h3>
      <p>{{ item.subtitle }}</p>
    </div>
  </div>
  <div class="pagination-controls">
    <pagination-controls 
    (pageChange)="onPageChange($event)" 
    [maxSize]="5" 
    [autoHide]="true" 
 >
  </pagination-controls>
  </div>