.details {
    padding: 82px 90px 0px 209px;
  }
  
  .details h1 {
    font-family: 'Real Text', Arial, sans-serif;
    text-align: center;
    word-wrap: break-word;  /* Ensure text wraps to the next line */
    padding-bottom: 50px;
  }
  
  .details .a {
    font-family: 'Real Text', Arial, sans-serif;
    word-wrap: break-word;  /* Ensure text wraps to the next line */
  }
  
  .details p {
    font-family: 'Real Text', Arial, sans-serif;
    word-wrap: break-word;  /* Ensure text wraps to the next line */
    white-space: normal;     /* Allow text to wrap normally */
  }
  
  .details img {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 59px;
  }
  