<div class="table-container1">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="customerId">
            <mat-header-cell *matHeaderCellDef> Customer Id. </mat-header-cell>
            <mat-cell *matCellDef="let projectData"> {{projectData.customerID}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let projectData"> {{projectData.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let projectData"> {{projectData.phoneNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailId">
            <mat-header-cell *matHeaderCellDef> Email Id </mat-header-cell>
            <mat-cell *matCellDef="let projectData"> {{projectData.emailId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let projectData">
                <mat-icon *ngIf="!projectData.isEditing" (click)="onEdit(projectData)" style="color: #3416AD; cursor: pointer;">edit</mat-icon>
                <mat-icon *ngIf="projectData.isEditing" (click)="onSave(projectData)" style="color: #24D600; cursor: pointer;">save</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <mat-icon (click)="onDelete(projectData)" style="color: #FF0F0F; cursor: pointer;">delete</mat-icon>
              </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>