<div style="padding: 20px;">
  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow mb-2">
        <h2>Service Count</h2>
        <div class="card-body chart">
          <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
            style="width: 100%; height: 345px; display: block;">
          </highcharts-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow mb-2">
        <h2>Contact Customer Details</h2>
        <div class="card-body chart">
          <div class="table-container1">
            
            <app-contactustable></app-contactustable>
          </div>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="card shadow mb-2">
    <h2>Project Details</h2>
    <div class="card-body chart">
      <div class="table-container2">
        <app-projecttable></app-projecttable>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="card shadow mb-2">
    <h2>Customer Details</h2>
    <div class="card-body chart">
      <div class="table-container2">
        <app-customertable></app-customertable>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="card shadow mb-2">
    <h2>Service Details</h2>
    <div class="card-body chart">
      <div class="table-container2">
        <app-servicetable></app-servicetable>
      </div>
    </div>
  </div>

  &nbsp;
  <div class="card shadow mb-2">
    <h2>Blog Details</h2>
    <div class="card-body chart">
      <div class="table-container2">
        <app-blogtable></app-blogtable>
      </div>
    </div>
  </div>

</div>