::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #3cc194 !important; /* Toggle track color */
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: transparent !important; /* Toggle thumb color */
}


.mat-slide-toggle{
  position: static;
  top: 0px;
  right: 0px}

  .tag {
    display: inline-block;    
    font-size: 67px;           
    line-height: 0.9;
    white-space: nowrap;      
    font-style: normal;
    font-family: 'Real Text', Arial, sans-serif;
    word-wrap: normal;        
    z-index: 7;
    letter-spacing: -6px;
  }
  


.heading{
padding: 173px 121px 145px 70px;
background-color: #d4d4d491;
background-size: cover
}

.heading2 {
  display: flex;
  justify-content: center; /* Centers the heading horizontally */
  align-items: center;    /* Centers the heading vertically */
  height: 100vh;          /* Full viewport height */
  padding: 20px;          /* Add some padding */
  background-color: #ffffff; /* Optional background color */
  box-sizing: border-box; /* Ensures padding doesn't affect centering */
  text-align: left;       /* Aligns text to the left */
}

h1 {
  max-width: 800px;       /* Limit the width of the content for proper alignment */
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;              /* Removes default margin */
}
.highlight {
  color: #3cc194;         /* Orange color for the link */
  font-weight: bold;
  text-decoration: none;  /* Removes underline */
  font-size: 28px;
}

.tag1 {
  display: block;   
  font-size: 40px;
  width: 630px;   
  line-height: 1.25; 
  margin-left: 282px;  /* Ensures proper block formatting for the text */
  font-family: 'Real Text', Arial, sans-serif;
}

.highlight {
  color: #3cc194;         /* Orange color for the link */
  font-weight: bold;
  text-decoration: none;  /* Removes underline */
  font-family: 'Real Text', Arial, sans-serif;
}

.highlight:hover {
  text-decoration: underline; /* Adds underline on hover */
}




.carousel-container {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
background-color: #d4d4d491;
box-sizing: border-box;
overflow: hidden;
}


.carousel {
display: flex;
flex-wrap: nowrap; /* Prevent wrapping */
overflow: hidden; /* Hide extra images */
width: 369%; /* Decrease carousel width */
transition: transform 1s ease-in-out;
padding: 20px 0px 20px 95px
}

.carousel-item {
flex-shrink: 0;
width: 370px; /* Match imageWidth in TypeScript */
height: 300px;
background-size: cover;
background-position: center;
margin-right: 40px;
padding: 10px;
display: flex;
align-items: center; /* Center content vertically */
justify-content: center;
color: white;
text-shadow: 0 0 5px black;

}

.image-name {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
color: white;
text-align: center;
padding: 5px;
font-size: 14px;
opacity: 0;
transform: translateY(20px);
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.carousel-item:hover {
transform: scale(1.05); /* Slight zoom on hover */
}

/* New text on the right side of the carousel */
.carousel-text {
width: 4%; /* Adjust text block size */
margin-left: 20px;
font-size: 20px;
color: #333;
text-align: left;
line-height: 1.5;
cursor: pointer;
writing-mode: vertical-rl; /* Rotate the text to be vertical */
transform: rotate(180deg);
}

.carousel-text:hover {
text-decoration: underline; /* Optional: Add hover effect for the text */
}
.carousel-item:hover .image-name {
opacity: 1;
transform: translateY(0);
}

.stats-container {
  display: flex;
  justify-content: space-around; /* Ensures proper spacing between items */
  align-items: flex-start;
  padding: 20px;
  text-align: left; /* Aligns content within each stat-box */
}

.stat-box {
  flex: 1;
  max-width: 300px;
  margin: 0 10px; /* Adds more spacing between columns */
}

h1 {
font-size: 60px;
margin: 0;
line-height: 80px;
}

.note {
font-size: 0.8rem;

}

.about-link {
text-align: left;
margin-top: 80px;
font-size: 22px;
//margin-left: 20px; /* Optional: Add a margin for better spacing */
font-family: 'Real Text', Arial, sans-serif;
}

.about-link a {
text-decoration: none;
color: #3cc194;
font-size: 22px;
font-weight: bold;
}

.about-link a:hover {
text-decoration: underline;
}



/*toggle button*/
.container {
  position: relative;
  text-align: center;
  padding-top: 50px;
}

.toggle-button {
  width: 60px;
  height: 30px;
  background-color:transparent;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.toggle-button .slider {
  width: 23px;
  height: 23px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-button .slider.active {
  transform: translateX(30px);
  background-color: #d4d4d491;
}

.toggle-button:hover {
  background-color: #3cc194;
}


.detail {
  font-size: 36px; /* Adjusted for smaller text size */
  font-family: 'Real Text', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2; /* Controls spacing between lines */
  display: block; /* Ensures proper block-level alignment */
  text-align: left;
  width: 111%; /* Ensures text uses the full width */
  white-space: normal; /* Allows text wrapping */
  margin-top: 10px; /* Adds spacing between the dash and text */
}

.detail2 {
  font-size: 100px; /* Adjusted for large numbers */
  font-family: 'Real Text', Arial, sans-serif;
  font-weight: 400;
  line-height: 1; /* Slightly tighter spacing for large numbers */
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.img{
  width: 100%;
}


.quote-container {
  position: relative;
 width: 100%;
  font-family: 'Real Text', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  //background:#b8b8b857
}

.quote-text {
  font-size: 92px;
  font-weight: 400;
  line-height: 1.03;
  letter-spacing: -0.05em; 
  display: inline-block;
  padding: 159px 10px 107px 95px;
  text-align: left;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
}

.quote-start {
  font-size: 76px; /* Adjust size of the opening quote */
  color: #3cc194; /* Orange color for quotation marks */
  position: absolute;
  top: 28;
  left: 94px; /* Adjust position to match the design */
  padding-top: 109px;
}

.quote-end {
  font-size: 76px; /* Adjust size of the closing quote */
  color: #3cc194; /* Orange color for quotation marks */
  float: right;
  margin-top: -143px; /* Aligns with the last line of the quote */
  margin-right: 160px;
}

