<div class="header">
    <h1>
        Insights & Innovations: Our Blog
    </h1>
    <p>
        Explore our blog for fresh perspectives, creative strategies, and the latest trends in the advertising world.    </p>
  </div>
  
  <div class="grid">
    <div class="card" *ngFor="let item of items">
      <div class="card-header">
        
      </div>
      <img [routerLink]="['blogdetails']" [queryParams]="{ id: item.id, name: item.name }" [src]="item.images" alt="Project image">
      <h3>{{ item.projectDescription }}</h3>
      <p>{{ item.projectContent }}</p>
    </div>
  </div>
  
  
