<div class="table-container1">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let projectData"> {{projectData.name}} </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let projectData">
                <img [src]="projectData.icon" alt="Project Image" class="table-image" />
                </mat-cell>
        </ng-container>
        <ng-container matColumnDef="serviceImage">
            <mat-header-cell *matHeaderCellDef>Service Image </mat-header-cell>
            <mat-cell *matCellDef="let projectData">
                <img [src]="projectData.serviceImage" alt="Project Image" class="table-image" />
                </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="addSubService">
            <mat-header-cell *matHeaderCellDef> Add Sub Service </mat-header-cell>
            <mat-cell *matCellDef="let projectData">
                <i (click)="addSubService(projectData)">Add Sub Service</i>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="editSubService">
            <mat-header-cell *matHeaderCellDef>Edit Sub Service </mat-header-cell>
            <mat-cell *matCellDef="let projectData">

                <i (click)="subservice(projectData)">Edit Sub Service</i>

            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let projectData">
                <mat-icon *ngIf="!projectData.isEditing" (click)="onEditService(projectData)"
                    style="color: #3416AD; cursor: pointer;">edit</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <mat-icon (click)="onDelete(projectData)" style="color: #FF0F0F; cursor: pointer;">delete</mat-icon>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<div class="popup" *ngIf="popupVisible">
    <div class="popup-content">
        <!-- Close button inside the popup -->
        <span class="close" (click)="hidePopup()">&times;</span>

        <!-- Display details of the selected item -->
        <h2>{{ popupItem?.name }}</h2>
        <!-- Display fields dynamically -->
        <!-- <div *ngFor="let field of getFieldKeys(popupItem?.fields)">
            <div *ngFor="let innerKey of getInnerKeys(popupItem?.fields, field)">
                <p>{{ innerKey }} = {{ getFieldValue(popupItem?.fields, field, innerKey) }}</p>
            </div>
        </div> -->
    </div>
</div>


<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>