.project-container {
  text-align: center;
  padding: 0px 70px;
  margin-top: 50px;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 90.1%;
  font-size: 42px;
  letter-spacing: -0.05rem;
  position: relative;
  display: block;
}

.form-style input {
  border: 0;
  width: 142%;
  font-family: 'Manrope', sans-serif;
  height: 56px;
  line-height: 1.65;
  padding: 12px 0px;
  background-size: 100%, 1px, 0, 2px;
  font-size: 1.3em;
  border-radius: 0;
  border-bottom: 1px solid #333333;
  background: rgb(221 221 221 / 0%)

}

.form-style input:focus {
  border-bottom: 1px solid #007bff;
  box-shadow: none;
  outline: 0;
  background-color:rgb(221 221 221 / 0%)
  //background: rgba(221, 221, 221, 0.46);

}

.button {
  padding: 0.5rem 1rem;
  background-color: #3cc194;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
}

.pb-2 {
  padding-bottom: 2.5rem!important;
}

.modal-body {
  padding: 50px 0px;
}

ul {
  list-style-type: none;
}

/* Parent container with relative positioning */
.col {
  position: relative;
}

/* Logo on top of the image */
.logo-overlay {
  position: absolute;
    top: 86px;
    left: 274px;
    width: 170px;
    height: 149px;
    z-index: 87;
    width: 184px;
}

/* Optional: Style the image if needed */
.col img {
  /* Ensure the image fills its container */
  max-width: 500px;  /* Limit the image size */
}
