<div class="header">
  <h1 style="font-family: 'Real Text', Arial, sans-serif; text-align: center;">Our Story</h1>
  <div>
    <p class="a">Elephant Ad Agency combines creativity and strategy to craft impactful campaigns. We're passionate
      about helping brands grow and create lasting connections with their audience.</p>
    <div class="image">
      <img src="/assets/aboutUs2.jpg" alt="about">
    </div>
    <button routerLink="/base/aboutus" class="view-work-button" style=" margin-top: 60px;">Lets Talk-></button>
  </div>



  <h1 style="font-family: 'Real Text', Arial, sans-serif;margin-top: 30px; text-align: center;">Let's do big things with big ideas</h1>
  <div class="image">
    
    <div class="Planning">
      <ul>
      <li>  360 Degree Branding</li>
      <li>  Strategy Planning</li>
      <li>  Competitor Analysis</li>
      <li>  Precise Targeting</li>
      </ul>
    </div>

    <button routerLink="/base/blog" class="view-work-button" style=" margin-top: 60px;">Read What we're writing
      -></button>
  </div>
</div>

<div style="padding:82px 90px 50px 209px">
  <div>
    <h1 style="font-family: 'Real Text', Arial, sans-serif;">We do this in 3 ways.</h1>
    <div class="features">
      <div class="feature-item">
        <div class="icon human-icon"></div>
        <h2>Human-first design.</h2>
        <p class="c">
          We design immersive experiences fueled by creativity and innovation to
          drive brand distinction.
        </p>
      </div>
      <div class="feature-item">
        <div class="icon tech-icon"></div>
        <h2>Deep expertise in data & tech.</h2>
        <p class="c">
          We harness our proprietary AI data platform (LIVE) to develop
          data-driven strategies that deliver measurable outcomes for clients.
        </p>
      </div>

      <div class="feature-item">
        <div class="icon value-icon"></div>
        <h2>Speed to business value.</h2>
        <p class="c">
          We leverage AI tools that automate design and coding processes to drive
          greater value, cohesion, and speed to market.
        </p>
      </div>
    </div>
    <button routerLink="/base/projects" class="view-work-button">View our work →</button>
  </div>

</div>


<app-clients></app-clients>