.services-container {
    text-align: center;
    margin: 20px;
  }
  
  .services-container p{
    font-family: 'Real Text', Arial, sans-serif;
  }
  .services-container h1{
    font-family: 'Real Text', Arial, sans-serif;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 20px; /* Space between items */
    margin: 78px 170px;
  }
  
  .service-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 176;
    height: 197;
  }
  
  .service-item img {
    
  }
  
  .service-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Real Text', Arial, sans-serif;
  }
  @media (max-width: 768px) {
    .services-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 items per row for tablets */
    }
  }
  
  @media (max-width: 480px) {
    .services-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row for mobile */
    }
  }  