<div class="grid" [ngClass]="{'blurred': popupVisible}">
  <div class="card" *ngFor="let item of pagedItems">
    <div class="image-container">
      <i 
        class="fa fa-chevron-circle-right overlay-icon" 
        (click)="openPopup(item)" 
        title="View Details" 
        aria-hidden="true">
      </i>
      <img [src]="item.image" alt="Project image">
    </div>
    <div class="card-body">
      <h3 style="text-align: center;">{{ item.name }}</h3>
      
      <!-- Display only the first two fields -->
      <div *ngFor="let key of objectKeys(item.fields).slice(0, 2)">
        <p><strong>{{ key }}:</strong> {{ item.fields[key] }}</p>
      </div>
      
      <p style="font-weight: bold;" *ngIf="user || admin">Price: {{ item.subServicePrice }}</p>
      <div class="login-btn-wrapper" *ngIf="!user && !admin">
        <button (click)="openLoginModal()" class="login">Login to View Price</button>
      </div>
      <!-- Login button for non-logged-in users -->
      
    </div>
    
  </div>
</div>

<!-- Popup Container -->
<div class="overlay" *ngIf="popupVisible" (click)="hidePopup()"></div>
<div class="popup" *ngIf="popupVisible">
  <div class="popup-content">
    <span class="close" (click)="hidePopup()">&times;</span>
    <h2>{{ popupItem?.name }}</h2>
    
    <!-- Display all fields in the popup -->
    <div *ngFor="let key of objectKeys(popupItem?.fields)">
      <p><strong>{{ key }}:</strong> {{ popupItem.fields[key] }}</p>
    </div>
    
    <p *ngIf="user || admin">Price: {{ popupItem?.subServicePrice }}</p>
  </div>
</div>
