

<div class="grid" [ngClass]="{'blurred': popupVisible}">
 
  <div  class="card" *ngFor="let item of pagedItems">
    <img  (click)="openPopup(item)" [src]="item.image" alt="Project image">
    <div class="card-body" style="padding-left: 8px; background-color: rgb(240, 240, 240); display: flex; flex-direction: column; height: 100%;">
      <h3 style=" color: #302f2f;text-align: center;">{{ item.name }}</h3>
      <div *ngFor="let key of objectKeys(item.fields)">
        <p style=" color: #605e5e;"><strong>{{ key }}:</strong> {{ item.fields[key] }}</p>
      </div>
      <p  style=" color: #322f2f;" *ngIf="user == true || admin == true">Price: {{item.subServicePrice}}</p>
      <div class="login-btn-wrapper" *ngIf="user != true && admin != true" style="margin-top: auto;">
        <button style="margin-bottom: 10px;"  (click)="openLoginModal()" class="login">Login to View</button>
      </div>
    </div>
  </div>
  
</div>

<div class="overlay" *ngIf="popupVisible" (click)="hidePopup()"></div>
<div class="popup" *ngIf="popupVisible">
  <div class="popup-content">
    <span class="close" (click)="hidePopup()">&times;</span>
    <h2>{{ popupItem?.name }}</h2>
    <div *ngIf="popupItem?.fields">
      <div *ngFor="let key of objectKeys(popupItem.fields)">
        <p ><strong>{{ key }}:</strong> {{ popupItem.fields[key] }}</p>
      </div>
    </div>
   <span *ngIf="user != false || admin != false"><p >Price :{{popupItem.subServicePrice}}</p></span> 
  </div>
</div>




