<div class="modal-header">
  <h4 class="modal-title">Create Sub Service</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="subServiceForm" >
    
    <!-- Service Name -->
    <div class="form-group">
      <label for="name">Service Name</label>
      <input id="name" formControlName="name" class="form-control" placeholder="Enter service name" />
    </div>
    <div class="form-group">
      <label for="name">Price</label>
      <input id="subServicePrice" formControlName="subServicePrice" class="form-control" placeholder="Enter Price" />
    </div>

    <!-- Service Image Upload -->
    <div class="form-group">
      <label for="image"> Image</label>
      <input type="file" (change)="onImageSelect($event)" class="form-control" />
    </div>


    <!-- Dynamic Fields (Key-Value Pairs) -->
    <div formArrayName="fields">
      <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="form-group">
        <label>Field {{i + 1}}</label>
        <div class="form-row">
          <div class="col">
            <input formControlName="key" class="form-control" placeholder="Key (e.g., place, location)" />
          </div>
          <div class="col">
            <input formControlName="value" class="form-control" placeholder="Value (e.g., hyd, kphb)" />
          </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="removeField(i)">Remove Field</button>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-success" (click)="addField()">Add Field</button>
&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
