<div class="modal-header">
    <h4 class="modal-title">Edit Blog</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form #editForm="ngForm">
        <div class="mb-3">
            <label for="blogName" class="form-label">Blog Name</label>
            <input type="text" id="blogName" class="form-control" [(ngModel)]="blogData.blogName" name="blogName" required />
        </div>
        <div class="mb-3">
            <label for="blogDescription" class="form-label">Blog Description</label>
            <textarea id="blogDescription" class="form-control" [(ngModel)]="blogData.blogDescription"
                name="blogDescription" required></textarea>
        </div>
        <div class="mb-3">
            <label for="blogContent" class="form-label">Blog Content</label>
            <textarea id="blogContent" class="form-control" [(ngModel)]="blogData.blogContent"
                name="blogContent" required></textarea>
        </div>
        <!-- <div class="mb-3">
            <label for="lastModifiedDate" class="form-label">ModifiedDate</label>
            <input type="date" id="lastModifiedDate" class="form-control" [(ngModel)]="blogData.lastModifiedDate" name="lastModifiedDate"
                required />
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" id="image" class="form-control" [(ngModel)]="blogData.image" name="image"
                required />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>