.services-container {
    text-align: center;
    margin: 20px;
    background-color: #d4d4d4c4
  }
  .ser{
    padding:111px  50px 202px  61px

  }
  
  .services-grid {
    display: grid
;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 156px;
    column-gap: 75px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
  }
  
  .service-item {
    
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .service-item img {
    width:150px;
    //height: 51px;
  }
  
  .service-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    .services-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 items per row for tablets */
    }
  }
  
  @media (max-width: 480px) {
    .services-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row for mobile */
    }
  }  

  .dash-text {
    display: flex;
    align-items: center;
    margin-left:-76px;
    margin-bottom: 61px;
    font-family: 'Real Text', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .dash-text::before {
    content: '';
    width: 100px; /* Adjust the length of the line */
    border-top: 2px solid #696969; /* Solid line style */
    margin-right: 10px; /* Space between the line and text */
  }
  
  .dash-text span {
    font-size: 20px; /* Adjust text size */
    color: #696969 /* Text color */
  }
  