<form [formGroup]="form" (ngSubmit)="onSubmit()" class="addservice-form">
  <label for="name">Name:</label>
  <input id="name" formControlName="name" required />

  <label for="icon">Icon:</label>
  <input type="file" id="icon" (change)="onIconChange($event)" required />

  <label for="serviceImage">Service Image:</label>
  <input type="file" id="serviceImage" (change)="onServiceImageChange($event)" required />

  <div formGroupName="fields">
    <div formArrayName="additionalProps">
      <div *ngFor="let prop of additionalProps.controls; let i = index" [formGroupName]="i">
        <label for="key">Key:</label>
        <input id="key" formControlName="key" required />

        <label for="value">Value:</label>
        <input id="value" formControlName="value" required />

        <button type="button" (click)="removeAdditionalProp(i)">Remove</button>
      </div>
    </div>

    <button type="button" (click)="addAdditionalProp()">Add Additional Property</button>
  </div>

  <button type="submit">Submit</button>
</form>

