
  
<div class="modal-header">
    <div class="col">
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="col-sm-4">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="modal-body">
      <form [formGroup]="serviceForm">
  
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Service Name" />
              </fieldset>
            </div>
          </div>
        </div>
  
        <div class="row" style="padding-top: 20px;">
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="file" placeholder="img" (change)="onFileSelected($event)" accept="image/*" />
              </fieldset>
            </div>
          </div>
        </div>
  
      </form>
  
      <div class="text-center ">
        <button type="button" class="btn btn-primary" (click)="activeModal.dismiss();onSubmit()">
          Submit
        </button>
  
      </div>
    </div>
  </div>