<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>Dynamic Form</h2>
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required />
      </div>

      <div class="form-group">
        <label for="icon">Icon:</label>
        <input type="text" id="icon" formControlName="icon" required />
      </div>

      <div class="form-group">
        <label for="serviceImage">Service Image:</label>
        <input type="text" id="serviceImage" formControlName="serviceImage" required />
      </div>

      <!-- Iterate over fields FormArray -->
      <div formArrayName="fields">
        <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="dynamic-field">
          <div *ngFor="let key of objectKeys(field.value)">
            <label>{{ key }}</label>
            <input type="text" [formControlName]="key" />
          </div>
        </div>
      </div>

      <div class="modal-actions">
        <button type="button" (click)="closeModal()">Close</button>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
