<div class="modal-header">
  <h4 class="modal-title">Edit Service Details</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="editForm">
    <!-- Static Fields -->
    <div class="mb-3">
      <label for="name" class="form-label">Project Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" required />
    </div>

    <div class="mb-3">
      <label for="serviceImage" class="form-label">Service Image</label>
      <input type="file" placeholder="serviceImage" (change)="onServiceImageSelected($event)" accept="image/*" />
    </div>

    <div class="mb-3">
      <label for="icon" class="form-label">Icon Image</label>
      <input type="file" placeholder="icon" (change)="onIconSelected($event)" accept="image/*" />
    </div>

    <!-- Dynamic Fields -->
    <div formArrayName="fields">
      <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="d-flex mb-3">
        <div class="col-5">
          <label for="key-{{i}}" class="form-label">Key</label>
          <input type="text" id="key-{{i}}" class="form-control" formControlName="type" />
        </div>
        <div class="col-7">
          <label for="value-{{i}}" class="form-label">Value</label>
          <input type="text" id="value-{{i}}" class="form-control" formControlName="value" />
        </div>
        <button type="button" class="btn btn-danger mt-2" (click)="deleteField(i)">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>