.btn-primary {
    background: #188725;
    width: 160px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}

.modal-header {
    padding: 5px;
    background-color: #000000;
    

}
.h4{
    margin: 0 0px 0px;
}

.modal-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    margin-top: 10px;

}

.close {
    width: 30px;
    height: 30px;
    background: rgba(240, 240, 240, 0.75);
    border: none;
    font-size: 17px;
    border-radius: 50%;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    cursor: pointer;

}





