<div class="modal-header">
  <div class="col">
    <h4 class="modal-title">Add Project</h4>
  </div>
  <div class="col-sm-4">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
</div>
<div class="container">
  <div class="modal-body">
    <form [formGroup]="projectForm">

      <div class="row  " style="padding-top: 40px;">
        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset>
              <input type="text" class="form-control" id="projectName" formControlName="projectName"
                placeholder="Project Name" />
            </fieldset>
          </div>
        </div>

        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset>
              <input type="text" class="form-control" id="projectDescription" formControlName="projectDescription" placeholder="Description" />
            </fieldset>
          </div>
        </div>
      </div>


      <div class="row " style="padding-top: 20px;">
        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset>
              <input type="text" class="form-control" id="projectContent" formControlName="projectContent" placeholder="Content" />
            </fieldset>
          </div>
        </div>

      </div>

      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-6 form-style">
          <div class="form-group pb-2">
            <fieldset>
              <input type="file" placeholder="img" (change)="onFileSelected($event)" accept="image/*" />
            </fieldset>
          </div>
        </div>
      </div>

    </form>

    <div class="text-center " style="padding-top: 50px;">
      <button type="button" class="btn btn-primary" (click)="activeModal.dismiss();onSubmit()">
        Submit
      </button>

    </div>
  </div>
</div>