
@import "primeicons/primeicons.css";
@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Demibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Extlight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Hairline.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Semilight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Real Text';
  src: url('assets/fonts/Real Text Ultralight.otf') format('opentype');
  font-weight: 150;
  font-style: normal;
}


body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}


ngx-loading-bar {
  z-index: 9999; /* Ensure it's above modals */
  position: fixed; /* Make it overlay the entire screen */
}


