
  
<div class="modal-header">
    <div class="col">
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="col-sm-4">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="modal-body">
      <form [formGroup]="blogForm">
  
        <div class="row  " style="padding-top: 40px;">
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="blogName" formControlName="blogName"
                  placeholder="Blog Name" />
              </fieldset>
            </div>
          </div>
  
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="blogDescription" formControlName="blogDescription" placeholder="Blog Description" />
              </fieldset>
            </div>
          </div>
        </div>

        <div class="row  " style="padding-top: 40px;">
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="blogContent" formControlName="blogContent"
                  placeholder="Blog content" />
              </fieldset>
            </div>
          </div>
  
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="publishedDate" formControlName="publishedDate" placeholder="Published Date" />
              </fieldset>
            </div>
          </div>
        </div>

        <div class="row  " style="padding-top: 40px;">
  
          <div class="col-lg-6 form-style">
            <div class="form-group pb-2">
              <fieldset>
                <input type="text" class="form-control" id="image" formControlName="image" placeholder="Image" />
              </fieldset>
            </div>
          </div>
        </div>
  
      </form>
  
      <div class="text-center ">
        <button type="button" class="btn btn-primary" (click)="activeModal.dismiss()">
          Login
        </button>
  
      </div>
    </div>
  </div>