.details {
  padding: 45px 201px 119px 201px;
  background-color: rgb(240, 240, 240);
}

.details h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  font-family: 'Manrope', sans-serif;
  word-wrap: break-word;
  padding-bottom: 0px;
}

.details p {
  font-size: 16px;
  text-align: left;
  text-indent: 39px;
  padding: 16px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 59px;
}

.single-image {
  width: 31%;
  height: 310px;
}

.image-pair {
  display: flex;
  gap: 106px;
  justify-content: center ;
}

.image-side {
  width: 31%;
  height: 310px;
  object-fit: cover;
}

/* Adjust layout based on number of images */
.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
