<nav [ngClass]="{'scrolled': isScrolled}" class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <img style="height: 43px; width: 148px; margin-bottom: 4px; margin-top: 10px;"
       [routerLink]="['/base/home']"
       [src]="isScrolled ? 'assets/logoScrolled.png' : 'assets/Logo2.png'"
       alt="Logo" />
    </div>
    <div class="nav-links">
      <a routerLink="/base/about" routerLinkActive="active">About</a>
      <a routerLink="/base/services" routerLinkActive="active">Services</a>
      <a routerLink="/base/projects" routerLinkActive="active">Work</a>
      <a routerLink="/base/aboutus" routerLinkActive="active">Contact</a>

      <div *ngIf="admin==true" class="dropdown" (mouseenter)="toggleDropdown(true)"
        (mouseleave)="toggleDropdown(false)">
        <a routerLink="/base/admin" routerLinkActive="active">Admin</a>
        <ul class="dropdown-menu" *ngIf="dropdownVisible">
          <li><a (click)="addProject()">Add Project</a></li>
          <li><a (click)="addService()">Add Service</a></li>
          <li><a (click)="fileInputRef.nativeElement.click()">New Banner</a>
            <input #fileInput type="file" placeholder="img" (change)="onFileSelected($event);onSubmit();"
              accept="image/*" style="display: none;" />
          </li>
          <li><a (click)="postaBlog()">Post A Blog</a></li>
        </ul>
      </div>



    </div>
    <div *ngIf="!isLoggedIn" class="login">
      <button (click)="openLoginModal()">Login</button>

    </div>
    <div *ngIf="isLoggedIn" class="login">
      <button (click)="logout()">
        Log Out
      </button>
    </div>
    <!-- Hamburger Menu for mobile -->
    <div class="hamburger" (click)="toggleMobileMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>

<!-- Mobile Menu -->
<div class="mobile-nav" *ngIf="mobileMenuOpen">
  <a routerLink="/base/home" routerLinkActive="active">Home</a>
  <a routerLink="/base/aboutus" routerLinkActive="active">Contact Us</a>
  <a routerLink="/base/services" routerLinkActive="active">Services</a>
  <a routerLink="/base/about" routerLinkActive="active">About Us</a>
  <a routerLink="/base/projects" routerLinkActive="active">Project</a>
</div>

<div id="app-main">
  <router-outlet></router-outlet>
</div>



<div class="dd-nyc-container">
  <div class="call-to-action">
    <p>Starting a new project or want to collaborate with us?</p><a [routerLink]="['/base/aboutus']" href="#">Let's talk ></a>
   <p> <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=AeZLP99f26btAVcW-s7D59XHeJctbRL0UkEOKVO8I1_Wt0Jric3wKvrFUg_OCdRMXR_8YxucJOwQ&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-1456324225%3A1734607696130768&ddm=1" style="color: #575757;">info&#64;elephantadagency.com</a></p>
  </div>

  <div class="content-section">
    <div class="section">
      <div class="dash"></div>
      <h6>Company</h6>
      <ul>
        <li routerLink="/base/home" routerLinkActive="active">Home</li>
        <li routerLink="/base/about" routerLinkActive="active">Work</li>
        <li routerLink="/base/services" routerLinkActive="active">Services</li>
        <li routerLink="/base/projects" routerLinkActive="active">Projects</li>
        <li routerLink="/base/blog" routerLinkActive="active">Blog</li>
        <li routerLink="/base/aboutus" routerLinkActive="active">Contact</li>
        <li  routerLink="/base/privacy" routerLinkActive="active">Privacy Policy</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Services</h6>
      <ul>
        <li routerLink="/base/services" routerLinkActive="active">Gated community screens</li>
        <li routerLink="/base/services" routerLinkActive="active">Metro rail wrap</li>
        <li routerLink="/base/services" routerLinkActive="active">Theatre advertising</li>
        <li routerLink="/base/services" routerLinkActive="active">Billboards</li>
        <li routerLink="/base/services" routerLinkActive="active">Digital out-of-home</li>
        <li routerLink="/base/services" routerLinkActive="active">Transit advertising</li>
        <li routerLink="/base/services" routerLinkActive="active">BTL activities</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Address</h6>
      <ul>
        <li>The Elephant Ad Agency,</li>
        <li>D No. 1-90/7/B/121, F No. P1,</li>
        <li>Innovative Cyberview Apts,Patrika Nagar</li>
        <li>Madhapur, Hyderabad,</li>
        <li>Telangana 500081</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Connect</h6>
      <ul>
        <li><a style="text-decoration: none;color: white;"
            href="https://www.youtube.com/channel/UCx1G-yzTLxK7lxTmtNlH4Cw">Youtube</a></li>
        <li><a style="text-decoration: none;color: white;"
            href="https://www.facebook.com/Elephant.adagency/">Facebook</a></li>
        <li><a style="text-decoration: none;color: white;"
            href="https://www.instagram.com/elephant.adagency/?hl=en">Instagram</a></li>
        <li><a style="text-decoration: none;color: white;"
            href="https://in.linkedin.com/company/the-elephant-ad-agency">Linked In</a></li>
        <li routerLink="/base/aboutus" routerLinkActive="active">Contact</li>
      </ul>
    </div>
  </div>
</div>