
<nav [ngClass]="{'scrolled': isScrolled}" class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <div class="nav-links">
      <a routerLink="/base/home" routerLinkActive="active">Home</a>
      <a routerLink="/base/aboutus" routerLinkActive="active">Contact Us</a>
      <a routerLink="/base/services" routerLinkActive="active">Services</a>
      <div class="dropdown" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
        <a routerLink="/base/admin" routerLinkActive="active">Admin</a>
        <ul class="dropdown-menu" *ngIf="dropdownVisible">
          <li><a (click)="addProject()">Add Project</a></li>
          <li><a (click)="addService()">Add Service</a></li>
          <li><a (click)="addSubService()">Add SubService</a></li>
          <li><a (click)="fileInputRef.nativeElement.click()">New Banner</a>
            <input #fileInput type="file" placeholder="img" (change)="onFileSelected($event);onSubmit();"
              accept="image/*" style="display: none;" />
          </li>
          <li><a (click)="postaBlog()">Post A Blog</a></li>
        </ul>
      </div>
      <a routerLink="/base/about" routerLinkActive="active">About Us</a>
      <a routerLink="/base/projects" routerLinkActive="active">Project</a>
    </div>
    <div  class="login">
      <button (click)="openLoginModal()">Login</button>
      
    </div>
    <div class="login">
    <button class="tab-button" (click)="logout()">
      Log Out
    </button>
  </div>
    <!-- Hamburger Menu for mobile -->
    <div class="hamburger" (click)="toggleMobileMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>

<!-- Mobile Menu -->
<div class="mobile-nav" *ngIf="mobileMenuOpen">
  <a routerLink="/base/home" routerLinkActive="active">Home</a>
  <a routerLink="/base/aboutus" routerLinkActive="active">Contact Us</a>
  <a routerLink="/base/services" routerLinkActive="active">Services</a>
  <a routerLink="/base/about" routerLinkActive="active">About Us</a>
  <a routerLink="/base/projects" routerLinkActive="active">Project</a>
</div>

<div id="app-main">
  <router-outlet></router-outlet>
</div>



<div class="dd-nyc-container">
  <div class="call-to-action">
    <p>Starting a new project or want to collaborate with us?</p><a href="#">Let's talk ></a>
    <p>hello&#64;dd.nyc</p>
  </div>

  <div class="content-section">
    <div class="section">
      <div class="dash"></div>
      <h6>Company</h6>
      <ul>
        <li>Work</li>
        <li>Agency</li>
        <li>Services</li>
        <li>Industries</li>
        <li>Client Testimonials</li>
        <li>Contact</li>
        <li>Website Accessibility</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Services</h6>
      <ul>
        <li>Web Design</li>
        <li>WordPress Websites</li>
        <li>Branding</li>
        <li>Packaging Design</li>
        <li>Graphic Design</li>
        <li>Real Estate Design</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Address</h6>
      <ul>
        <li>85 Broad Street</li>
        <li>17th Floor, Suite 17.005</li>
        <li>New York, NY 10004</li>
        <li>+1 212 380 1761</li>
        <li>hello&#64;dd.nyc</li>
      </ul>
    </div>

    <div class="section">
      <div class="dash"></div>
      <h6>Connect</h6>
      <ul>
        <li>Behance</li>
        <li>Dribbble</li>
        <li>Instagram</li>
        <li>Careers</li>
        <li>Email</li>
        <li>Contact</li>
        <li>New Project?</li>
      </ul>
    </div>
  </div>
</div>